#box {
  width: 530px;
  margin: 100px auto;
}

.text {
  outline: 0;
  width: 500px;
  height: 30px;
  border: 1px solid #ddd;
  line-height: 30px;
  font-size: 16px;
  text-indent: 15px;
}

ul {
  padding: 0;
}

li {
  position: relative;
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

p {
  margin: 0 30px 0 7px;
  line-height: 1.7;
}

.delBtn {
  position: absolute;
  right: 10px;
  top: 0px;
  display: block;
  height: 100%;
  width: 16px;
  background-image:url(../img/delete.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}